* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #cccccc;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
}

.background-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  transition: all .1s linear;
}

.wrapper:hover {
  gap: 48px;
}

.top {
  position: relative;
  width: 500px;
  height: 18px;
  font-size: 48px;
  font-weight: 700;
  overflow: hidden;
  background-color: #121212;
}

.top p {
  position: absolute;
  top: -18px;
  text-align: center;
  width: 100%;
}

.bottom {
  position: relative;
  width: 500px;
  height: 18px;
  font-size: 48px;
  font-weight: 700;
  overflow: hidden;
  background-color: #121212;
}

.bottom p {
  position: absolute;
  top: -15px;
  line-height: 30px;
  text-align: center;
  width: 100%;
}