* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
body {
  background-color: #221357;
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
section h1 {
  font-size: 40px;
  letter-spacing: 8px;
}
section:nth-child(1) {
  background-color: #221357;
}
section:nth-child(2) {
  background-color: #501769;
}
section:nth-child(3) {
  background-color: #7c1b7a;
}
section:nth-child(4) {
  background-color: #a91f8c;
}
section:nth-child(5) {
  background-color: #d5239d;
}
.scroll-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 10px;
  background-color: aqua;
  z-index: 1;
}